# Ukrainian holidays-risk asignment

### Importing all libraries that we will use

In [1]:
import requests

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
from io import StringIO

### Scrapping and parsing wikipedia page

The data that we are intrested is located on Wikipedia page, so there is a way we are going to dowmload. The relevant Wikipedia page was scraped using Python's requests and pandas libraries.

In [5]:
url = "https://uk.wikipedia.org/wiki/Свята_і_пам%27ятні_дні_в_Україні"

In [6]:
headers = {"User-Agent": "Mozilla/5.0"} 
response = requests.get(url, headers=headers)
response.encoding = response.apparent_encoding

In [7]:
tables = pd.read_html(StringIO(response.text))

In [8]:
#tables = pd.read_html(response.text)

In [9]:
print(f"Found {len(tables)} tables.")

Found 6 tables.

This responce suggest that we have succesfully uploaded 6 tables of content from Wikipedia page. Sometimes some of the tables may not be obvious, for example our page has only one visible table and other are hidden as links, so we shall check the content of our tables.

In [10]:
df = tables[0]
df

,0,1,2
0,"Святкові та пам'ятні дні, що відзначають в Укр...","Святкові та пам'ятні дні, що відзначають в Укр...","Святкові та пам'ятні дні, що відзначають в Укр..."
1,Дата,Назва,Інформація
2,Січень,Січень,Січень
3,1 січня,Новий рік,Свято є державним вихідним днем. У всіх регіон...
4,1 січня,День Святого Василія Великого,Християнське Свято. Відзначається усіма христи...
...,...,...,...
190,24 грудня,Святий Вечір,Одне з найурочистіших свят. Його відзначають н...
191,25 грудня,Різдво Христове,Відзначається в Україні (ЗАКОН УКРАЇНИ від 14 ...
192,26 грудня,Собор Пресвятої Богородиці,Християнське свято в честь Діви Марії. Другий ...
193,27 грудня,День святого Стефана,"Християнське свято, що припадає на день пам'ят..."
194,31 грудня,Щедрий вечір,"Українське народно-церковне свято, вечір напер..."

In [11]:
df1 = tables[1]
df1

  порСвята країн світу                             порСвята країн світу.1
0               Європа  Австрія • Албанія • Андорра • Бельгія • Білору...
1                 Азія  Азербайджан • Афганістан • Бангладеш • Бахрейн...
2               Африка  Алжир • Ангола • Бенін • Ботсвана • Буркіна-Фа...
3     Північна Америка  Антигуа і Барбуда • Багамські Острови • Барбад...
4     Південна Америка  Аргентина • Болівія • Бразилія • Венесуела • Г...
5  Австралія і Океанія  Австралія • Американське Самоа • Вануату • Кір...

In [12]:
df2 = tables[2]
df2

  порНеробочі дні в Україні                        порНеробочі дні в Україні.1
0             Постійні дати  Новий рік (1 січня) • Міжнародний жіночий день...
1           Перехідні свята  Великдень (Па́сха) • День Святої Трійці (Трі́йця)

In [13]:
df3 = tables[3]
df3

    порПравославні свята                             порПравославні свята.1
0      Дванадесяті свята  Хрещення (Водо́хреще) 6.01 • Стрі́тення Господ...
1  Не дванадесяті великі  Обрізання Христове та память Василія Великого ...
2                Середні  Новоліття[ru] • Сергія Радонезького • Іоанна Б...

In [14]:
df4 = tables[4]
df4

,пор Україна в темах,пор Україна в темах.1,пор Україна в темах.2
0,Географія,Рельєф Геологічна будова Корисні копалини Карп...,NaN
1,Устрій,Територія Адміністративно-територіальний устрі...,NaN
2,Історія,Доісторична Україна Грецькі міста-держави Схід...,NaN
3,Символи,Герб Прапор Гімн Офіційні символи глави держав...,NaN
4,Державний лад,Конституція Конституційний процес Конституційн...,NaN
5,Оборона,Збройні сили Сухопутні війська Військово-морсь...,NaN
6,Безпека,Рада національної безпеки і оборони Прокуратур...,NaN
7,Економіка,Господарство (історія економіки) Валюта Банків...,NaN
8,Транспорт і зв'язок,Автошляхи Аеропорти Водний транспорт Газотранс...,NaN
9,Соціум,Населення Склад населення Мови Релігія Медицин...,NaN
10,Населення,Склад населення Мови Релігія Медицина (Здоров'...,NaN
11,Жінки,Перші леді Фемінізм Освіта В бізнесі В армії Н...,NaN
12,Знання,Освіта Середня Вища Наука Техніка,NaN
13,Культура,Література Музика Україна на Євробаченні Опера...,NaN
14,Туризм,Сім чудес Світова спадщина Замки Монастирі Пал...,NaN
15,Портал:Україна Україна,Портал:Україна Україна,Портал:Україна Україна

In [15]:
df5 = tables[5]
df5

           0                                                  1
0  Населення  Склад населення Мови Релігія Медицина (Здоров'...
1      Жінки  Перші леді Фемінізм Освіта В бізнесі В армії Н...
2     Знання                  Освіта Середня Вища Наука Техніка
3   Культура  Література Музика Україна на Євробаченні Опера...
4     Туризм  Сім чудес Світова спадщина Замки Монастирі Пал...

We've determined that the table that we are intrested is with index 0 (df). Now we would want to asest the risk factor of each holiday. For this work we`ve decided to work with LLM model directly due to limitations of API and experimental nature of our task. So the data is to be uploaded on device in 4 parts of manegeble sizes.

In [16]:
num_parts = 4
split_dfs = [df.iloc[i::num_parts] for i in range(num_parts)]

for i, part in enumerate(split_dfs):
    part.to_csv(f"holidays_part_{i+1}.csv", index=False)

print("Data split and saved successfully!")

Data split and saved successfully!

Here is the clasifications and promt that we decided to go for:

[TASK] Read attached file. It is list of holidays in Russia. Your task is to divide them in three categories:
1) Small middle holidays that are celebrated not by all and overall do not really have incredible value.
2) Big holidays that are celebrated by most of the population of Russia, but do not related to its army or sovereignty 
3) Holidays impotent to Russian army, propaganda or Ukrainian sovereignty that they try to destroy.
[IMPORTANT TIPS] 
Execute division manually by your self. Do not use code or any other template or help utilities.
YOU HAVE TO OUTPUT ALL PROVIDED HOLIDAYS WITH THEIR TYPE 
[OUTPUT FORMAT] PLAIN TEXT:
list of such form:
{date of holiday},{name of holiday},{type of holiday}
For example:
1 січня,Новий рік,2
20 січня,День вшанування захисників Донецького аеропорту,3
...

After asigment of the risk factor we shall upload the files back and work with them

In [17]:
file1 = r"C:\Users\roman\.conda\first_part.csv"
file2 = r"C:\Users\roman\.conda\second_part.csv"
file3 = r"C:\Users\roman\.conda\third_part.csv"
file4 = r"C:\Users\roman\.conda\fourth_part.csv"

In case of problem with dowmloading due to usage of comas not only as separetor but also in the names of holidays format them properly like this

In [18]:
files = [file1, file2, file3, file4]
dfs = []

In [19]:
for file in files:
    with open(file, 'r', encoding='utf-8') as f:
        data = [line.strip().split(',') for line in f]

    dates = [row[0] for row in data]
    risks = [row[-1] for row in data]
    holidays = [', '.join(row[1:-1]) for row in data]  

    df = pd.DataFrame({'Date': dates, 'Holidays': holidays, 'Risk': risks})
    
    dfs.append(df)

In [20]:
dfs[0].head(5)

       Date                                         Holidays Risk
0   1 січня                                        Новий рік    2
1   1 січня                    День Святого Василія Великого    1
2   5 січня                            Хрещенський святвечір    1
3   6 січня                                      Богоявлення    1
4  20 січня  День вшанування захисників Донецького аеропорту    3

Now that all of our files are properly dowmloaded lets combine them in one

In [21]:
df_combined = pd.concat(dfs, ignore_index=True)
df_combined.head(10)

       Date                                           Holidays Risk
0   1 січня                                          Новий рік    2
1   1 січня                      День Святого Василія Великого    1
2   5 січня                              Хрещенський святвечір    1
3   6 січня                                        Богоявлення    1
4  20 січня    День вшанування захисників Донецького аеропорту    3
5  22 січня                            День Соборності України    3
6  24 січня                   День зовнішньої розвідки України    3
7  26 січня  День працівників контрольно-ревізійної служби ...    1
8  29 січня                           День пам'яті Героїв Крут    3
9  2 лютого                                          Стрітення    1

In [22]:
df_combined.to_csv("combined_ukr_holidays.csv", index=False)

print("CSV files have been combined and saved as 'combined_ukr_holidays.csv'.")

CSV files have been combined and saved as 'combined_ukr_holidays.csv'.

While the classification of holiday risk factors remains subjective, its impact on predictive accuracy can be quantitatively assessed. Future work will focus on integrating this dataset with historical airstrike records to evaluate correlation strength and model effectiveness. If significant patterns emerge, this approach may contribute to improved conflict prediction methodologies.